# env config
**/.vscode
**/.idea
**/venv/
# parser gen intermediate
code/lex.yy.c
code/*.tab.c
code/*.tab.h
**/*.output
# executable
**/*.exe
# viewTree intermediate
**/viewTree/*tree.txt
**/viewTree/tree.gv
**/viewTree/tree.gv.png
